<div class="footer">
  <div class="container">
    <div class="footer__column">
      <h4>Adres</h4>
      <p>Kroczymiech 36A, 32-500 Chrzanów</p>
      <p>Pon-Pt 9:00-18:00<br>
        Sob 9:00-13:00</p>
    </div>
    <div class="footer__column">
        <h4>Kontakt</h4>
        <p><a>kiki75@vp.pl</a></p>
        <p>
          <a>606 288 747</a>
          <br>
          <a>327 542 000</a>
        </p>
        <br>
          <h4>WhatsApp</h4>
          <p>
          <img class="WhatsApp" src="https://image.flaticon.com/icons/svg/124/124034.svg"><a>WhatsApp +48 606 288 747</a>
        </p>
        <p><img src="//theme.zdassets.com/theme_assets/517497/1f69da78d9014dba6189d4705278f385c16aca6b.png"></p>
    </div>
    <div class="footer__column">
        <p>Copyright © 2019 kiki.pl</p>
        <p style="font-weight: 100;">Jakub Prusakiewicz</p>
    </div>
  </div>

</div>
