
.footer {
 // position: fixed;
  //left: 0;
 // bottom: 0;
  width: 100%;
  background-color: #625856; //For browsers that do not support gradients
  background-image: linear-gradient(#625856,#423b3a );
  padding: 4rem 0;
  //display: flex;
  float: none;
  box-sizing: border-box;
  justify-content: center;
  color: white;
}
p{
  margin-bottom: 0px; //might change it later
}
.contact_img{
  max-width: 40px;
  image-orientation: flip;
}
@media screen and (min-width: 900px) {
.container {
  //min-width: 700px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  //margin-left: auto;
  //margin-right: auto;
  text-align: center;
  overflow: hidden;
}
.footer__column{
  width: 34rem;
  color: white;
}
h4{
  letter-spacing: .05em;
  text-transform: uppercase;
  margin: 0 0 2rem;
}
a{
  text-decoration: none;
  color: inherit;
}
.contact_img{
  max-width: 40px;
  image-orientation: flip;
}
}
