
.footer {
 // position: fixed;
  //left: 0;
 // bottom: 0;
  width: 100%;
  background-color: #625856; //For browsers that do not support gradients
  background-image: linear-gradient(#625856,#423b3a );
  padding: 4rem 0;
  //display: flex;
  float: none;
  box-sizing: border-box;
  justify-content: center;
}
p{
  margin-bottom: 0px; //might change it later
}
@media screen and (min-width: 700px) {
.container {
  min-width: 700px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  //margin-left: auto;
  //margin-right: auto;
  text-align: center;
}
}
@media screen and (max-width: 700px)
{
.container{
  display: block;
  margin: 0 auto;
  //justify-items: center;
  margin-bottom: 2%;
  text-align: start;
}
}
.footer__column{
  width: 34rem;
  color: white;

}
h4{
  letter-spacing: .05em;
  text-transform: uppercase;
  margin: 0 0 2rem;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  width: 35px;
}
