<div class="main" *ngFor="let item of items | async">
  <!-- <div class="single" *ngIf="item.key == id; else goMain()"> -->
      <div class="single" *ngIf="item.key == id">
<div class="empty"></div>
<div class="photos">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages">
  </ngx-gallery>
</div>
<div class="params">
  <div class="atributes_list">
    <div class="atr_brand">{{item.make}}</div>
    <div class="atr_model">{{item.model}}</div>
    <div class="atr_year">{{item.year}}</div>
    <div class="atr_mileage">{{item.mileage}}</div>
    <div class="atr_engine_power">{{item.engine}} cm3</div>
    <div class="atr_gearbox">f</div>
    <div class="atr_pochodzenie">g</div>
    <div class="atr_body_type">{{item.type}}</div>
    <div class="atr_color">{{item.color}}</div>
    <div class="atr_doors_count">j</div>
    <div class="cos_jeszcze">h</div>
  </div>
  <div class="wymiary" > <img src="https://picsum.photos/id/1070/367/267" alt=""></div>
</div>
<div class="description">
  <span>Opis</span>
  <p>{{item.describtion}}</p>
</div>
</div>
</div>

