.navbar{
  justify-content: flex-end;
  //background-color:transparent;
  //background-color:hsla(0, 0%, 100%, 0.3) ;
  background-color: #62585631;
  position: fixed;
  //font-size: 1.7rem;
  //font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6vw;
  padding-right: 3rem;
  color: white;
  z-index: 1;
}
@media only screen and (max-device-width: 1366px)
{
.navbar{
 // display: none;
}
}
span {
  padding-right: 2vw;
  letter-spacing: .05em;
}
.lang{
  background-color: transparent !important;
}
a{ text-decoration: none;
  color: inherit;}
a:hover{
  background-color: #6258567e;
  color: goldenrod;
  opacity: 0.4;
  transition: 0.3s;
}
.logo>img{
  padding-top: 3%;
  width: 20%;
  //height: 20%;
  z-index: 2;
}
