<mat-toolbar class="navbar">
<div>
  <span><a [routerLink]="['/ogloszenia']" routerLinkActive="router-link-active">ogłoszenia</a></span>
  <span><a [routerLink]="['/onas']" routerLinkActive="router-link-active">o nas</a> </span>
  <span><a [routerLink]="['/kontakt']" routerLinkActive="router-link-active">kontakt</a></span>
  <!-- <span><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-poland2x.png" alt=""></span> -->
  <span>
      <button mat-button class="lang" [matMenuTriggerFor]="menu"><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-poland2x.png" alt=""></button>
      <mat-menu  #menu="matMenu">
        <button mat-menu-item ><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-russia2x.png" alt=""></button>
        <button mat-menu-item><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-united-kingdom2x.png" alt=""></button>
        <button mat-menu-item><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-germany2x.png" alt=""></button>
      </mat-menu>
</span>
</div>
</mat-toolbar>
