<mat-toolbar class="navbar">
<div class="logo"><img src="https://scontent.fwaw5-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/69177752_2466406503604422_9202561571685924864_n.png?_nc_cat=107&_nc_oc=AQmuQsBO8Qh9DPk9uKyenrfW3cEZfg4Gkwl8t--TgRGIyKpEWLND62q9x9ojO_qsiQw&_nc_ht=scontent.fwaw5-1.fna&oh=be54b3c759171d40a54aded161a7b6bb&oe=5DD0737E" [routerLink]="['']" routerLinkActive="router-link-active" ></div>
<div>
  <span><a [routerLink]="['/ogloszenia']" routerLinkActive="router-link-active">ogłoszenia</a></span>
  <span><a [routerLink]="['/onas']" routerLinkActive="router-link-active">o nas</a> </span>
  <span><a [routerLink]="['/kontakt']" routerLinkActive="router-link-active">kontakt</a></span>
  <span *ngIf="auth.user$ | async as user" (click)="logout()"><a>{{user.displayName}}</a></span>
  <!-- <span><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-poland2x.png" alt=""></span> -->
  <span>
      <button mat-button class="lang" [matMenuTriggerFor]="menu"><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-poland2x.png" alt=""></button>
      <mat-menu  #menu="matMenu">
        <button mat-menu-item ><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-russia2x.png" alt=""></button>
        <button mat-menu-item><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-united-kingdom2x.png" alt=""></button>
        <button mat-menu-item><img src="https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-germany2x.png" alt=""></button>
      </mat-menu>
</span>
</div>
</mat-toolbar>
