<div class="empty"></div>
<div class="main">
  <form class="form">
  <mat-form-field>
  <mat-label>Rodzaj</mat-label>
   <select matNativeControl  name="type" [(ngModel)] = "type" required>
    <option value="cięzarowy">ciezarowy</option>
    <option value="osobowy">osobowy</option>
    <option value="kontener">kontener</option>
    <option value="cosjeszcze">cosjeszcze</option>
  </select>
  </mat-form-field>
  <mat-form-field>
  <mat-label>Marka</mat-label>
      <select matNativeControl placeholder="make" name="make"[(ngModel)]="make" required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
        <option value="audi">Nissan</option>
      </select>
    </mat-form-field>
    <div class="helper"></div>
    <mat-form-field class="full-width">
      <input name="model" matInput  placeholder="Model" [(ngModel)]="model">
    </mat-form-field>
    <mat-form-field class="full-width" >
     <input matInput name="year" [(ngModel)]="year" placeholder="Rocznik">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput name="mileage" [(ngModel)]="mileage" placeholder="przebieg">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Paliwo</mat-label>
            <select name="fueltype" [(ngModel)]="fueltype" matNativeControl required>
              <option value="Diesel">Diesel</option>
              <option value="Benzyna">Benzyna</option>
              <option value="Benzyna+lpg">Benzyna+lpg</option>
              <option value="Benzyna+cng">Benzyna+cng</option>
            </select>
          </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput name="color" [(ngModel)]="color" placeholder="kolor">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput name="engine" [(ngModel)]="engine" placeholder="pojemnosc silnika">
      </mat-form-field>

    <mat-radio-group name="broaken" [(ngModel)]="broaken">
        <label id="uszkodzony">uszkodzony </label>
        <br><br>
        <mat-radio-button value="tak">tak</mat-radio-button>
        <mat-radio-button value="nie">nie</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="full-width">
          <input matInput name="price" [(ngModel)]="price" placeholder="cena">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput name="url" [(ngModel)]="url" placeholder="zdj">
          </mat-form-field>

    <mat-form-field class="full-width">
        <textarea matInput name="describtion" [(ngModel)]="describtion" placeholder="opis"></textarea>
      </mat-form-field>
  </form>
</div>
<file-drop></file-drop>
<button (click)="cancel()">Anuluj</button>
<button (click)="addCar()">Dodaj</button>


