.empty{
  height: 10%;
}
.photos{
  //height: 70%;
  width: 70vw;
  margin: 0 auto;
  //margin: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;

}

.params{
  border-top: 1px solid #423b3a;
  //height: 30%;
  width: 70vw;
  margin: 0 auto;
  //margin: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.wymiary{
  padding-top: 5%;
  padding-bottom: 5%;
 // margin: 0 auto;
}
.wymiary>img{
  height: 17vw;
}
.description{
  border-top: 1px solid #423b3a;
  height: 30%;
  width: 70vw;
  margin: 0 auto;
  //margin: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.description>span{
  font-weight: 800;
  font-size: 2rem;
}
.atributes_list{
  margin: 0 auto;
  ///list-style: none;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5vw;
  align-content: center;


}

.params::before{
  background-color: yellowgreen;

}
