<div class="empty"></div>
<div class="photos">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
<div class="params">
  <div class="atributes_list">
    <div class="atr_brand">a</div>
    <div class="atr_model">b</div>
    <div class="atr_year">c</div>
    <div class="atr_mileage">d</div>
    <div class="atr_engine_power">e</div>
    <div class="atr_gearbox">f</div>
    <div class="atr_pochodzenie">g</div>
    <div class="atr_body_type">h</div>
    <div class="atr_color">i</div>
    <div class="atr_doors_count">j</div>
    <div class="cos_jeszcze">h</div>
  </div>
  <div class="wymiary" > <img src="https://picsum.photos/id/1070/367/267" alt=""></div>
</div>
<div class="description">
  <span>Opis</span>
  <p>{{opis_a}}</p>
  <p>{{opis_b}}</p>
</div>

