.example-car {
  max-width: 75%;
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  width: 45%;
  margin: 0 auto;
  justify-items: center;
  margin-bottom: 2%;
}

.example-car:hover{
  opacity: 0.5;
}
h1{
  text-align: center;
}
button{
  //padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 55%;
  height: 8rem;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  background-color: burlywood;
}
@media only screen and (max-device-width: 1366px) {
  .example-car{
    width: 70%;
  }
  button{
    font-size: initial;
    height: 6rem;
    margin-top: 5%;
  }
  }
