<div>
<h1>Wyróżnione oferty</h1>
<div *ngFor="let product of products"> <!-- div insted of ul on puropse, mobile divices didn't liked those -->
  <!-- <mat-card (click)="goto(product.id)" class="example-car"> -->
      <mat-card [routerLink]="['/product', product.id]" class="example-car">
  <mat-card-title>{{product.name}}</mat-card-title>
  <mat-card-subtitle>{{product.make}}</mat-card-subtitle>
      <img mat-card-image src="{{product.url}}">
      <mat-card-content>{{product.prize}}PLN</mat-card-content>
      <mat-card-content>{{product.mileage}}km | {{product.year}}</mat-card-content>
    </mat-card>
</div>
<button mat-stroked-button [routerLink]="['/ogloszenia']" routerLinkActive="router-link-active">Pozostałe ogłoszenia</button>
</div>

