.main{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/kiki-c7b28.appspot.com/o/201909-komis-1.jpg?alt=media&token=d56af072-5f46-447f-b68c-9412676a22de");
  height: 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
background-position-y: -21vw;
  //opacity: 0.5;
}
.mainb{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/kiki-c7b28.appspot.com/o/201909-komis-5.jpg?alt=media&token=119efecf-da9d-45b9-adae-7a9c1b6cac56");
  height: 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 105%;
}
@media only screen and (max-device-width: 1366px) {
  .main {
    background-attachment: scroll;
  }
}
@media only screen and (max-device-width: 1366px) {
  .mainb {
    background-attachment: scroll;
    background-size: contain;
  }
}
.content{
  height: 60%;
  width: 70%;
  //opacity: 0.5;
  z-index: 3;
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 5%;
}

.b{
  height: 45%;
  background: rgba(255, 255, 255, 0.212);
  text-align: center;
  font-size: 2rem;
  padding-top: 5%;
}
