.main{
  height: 100%;
  display: flex;
  justify-content: center;
}
 .mat-button{
  margin-top: 10%;
  background: initial;
  height: 15%;
  width: 15%;
  background-color: aquamarine;
  font-size: 2.5rem;
 }
